---
layout: default
title: CAD Models
---
<div class="container">
        <p>We maintain a list of useful CAD models for building pinball machines.</p>

        <h2>List of tested CAD Models</h2>
        <ul>
        {% for model in site.cad_models %}
            <li><a href="{{ model.url | absolute_url }}">{{ model.name }}</a></li>
        {% endfor %}
        </ul>


        <h2>CAD Models by Tags</h2>
        {% assign tags = site.cad_models | map: 'tags' | join: ','  | split: ',' | uniq %}
        {% for tag in tags %}
            <h3>{{ tag }}</h3>
            <ul>
                {% for model in site.cad_models %}
                    {% if model.tags contains tag %}
                        <li><a href="{{ model.url | absolute_url }}">{{ model.name }}</a></li>
                    {% endif %}
                {% endfor %}
          </ul>
        {% endfor %}
</div>
