---
layout: default
title: Printed Circuit Boards
---
<div class="container">
        <p>We maintain a list of useful PCBs for building pinball machines.
        If you tested one of them please let us know in the
            <a href="https://groups.google.com/forum/#!forum/mpf-users">MPF User Forum</a> and we will mark it
        accordingly.
        If you got additional PCBs you want to share also let us know there.</p>

        <h2>List of PCBs</h2>
        <ul>
        {% for pcb in site.pcbs %}
            <li><a href="{{ pcb.url | absolute_url }}">{{ pcb.name }}</a></li>
        {% endfor %}
        </ul>


        <h2>PCBs by Tags</h2>
        {% assign tags = site.pcbs | map: 'tags' | join: ','  | split: ',' | uniq | sort %}
        {% for tag in tags %}
            <h3>{{ tag }}</h3>
            <ul>
                {% for pcb in site.pcbs %}
                    {% if pcb.tags contains tag %}
                        <li><a href="{{ pcb.url | absolute_url }}">{{ pcb.name }}</a></li>
                    {% endif %}
                {% endfor %}
          </ul>
        {% endfor %}
</div>
