---
layout: default
---
<div class="container">
<h1>{{ page.name }}</h1>

    <table>
        <tr><td>Part Number</td><td>{{ page.part_number }}</td></tr>
        <tr><td>Date Added</td><td>{{ page.date_added }}</td></tr>
    </table>

<h2>Models</h2>
    <table>
        <tr><th>Format</th><th>Description</th><th>Verified by</th><th>Creators</th></tr>
        {% for model in page.models %}
        <tr><td><a href="{{ model.url }}">{{ model.format }}</a></td><td>{{ model.description }}</td><td>{% if model.verified %}Verified by {{ model.verified_by }}{% else %}Not verified{% endif %}</td><td>{{ model.creators }}</td></tr>
        {% endfor %}
    </table>

<h2>Description</h2>

{{ content }}


<h2>Final note</h2>

    We do not take any guarantee for the correctness of the model.
    In most cases we did not even create the model and we take the word if
    somebody claimed to have verified it.
    Please tell us in the <a href="https://groups.google.com/forum/#!forum/mpf-users">MPF User Forum</a>
    if you used one of the models and verified it.
    Also let us know if you found mistakes.
    You can also make correction yourself by creating a
    <a href= "https://github.com/missionpinball/mpf-hardware">Pull Request to this repository</a>.
    Really, this is a community effort so anything helps!

</div>
