---
layout: default
---
<div class="container">
<h1>{{ page.name }}</h1>

    <table>
        <tr><td>Purpose</td><td>{{ page.purpose }}</td></tr>
        <tr><td>Creators</td><td>{{ page.creators }}</td></tr>
        <tr><td>Date Added</td><td>{{ page.date_added }}</td></tr>
        <tr><td>Dimensions</td><td>{{ page.dimensions }}</td></tr>
        <tr><td>Tested</td><td>{% if page.tested %}Tested by {{ page.tested_by }}{% else %}Not tested{% endif %}</td></tr>
    </table>

<h2>Description</h2>

{{ content }}

<h2>Final note</h2>

    We do not take any guarantee for the correctness of the PCB.
    In most cases we did not even create the PCB and we take the word if
    somebody claimed to have tested it.
    Please tell us in the <a href="https://groups.google.com/forum/#!forum/mpf-users">MPF User Forum</a>
    if you used one of the PCBs and tested it.
    Also let us know if you found mistakes.
    You can also make correction yourself by creating a
    <a href= "https://github.com/missionpinball/mpf-hardware">Pull Request to this repository</a>.
    Really, this is a community effort so anything helps!


</div>
